@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

* {
  box-sizing: border-box;
}

.main-logo {
  width: 90%;
  max-width: 150px;
}

body {
  background-color: #000000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.movie-container {
  margin: 20px 0;
}
h1 {
  color: white;
}
.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
 align-items: center;
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #444451;
  height: 30px;
  width: 30px;
  margin: 5px;
  border-radius: 5px;
 
}

.seat.selected {
  background-color: rgb(69, 69, 185);
}

.seat.occupied {
  background-color: #fff;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
  justify-content: center;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}


.status {
  color: white;
}

.nav-link {
  color: white !important;
  font-weight: 500 !important;
}

.btn-home {
  background-color: #e50914;
  border: 1px solid #e50914;
  padding: 0.6em 2em;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  
}

.btn-home:active {
  border: 0px solid #e50914;
}
@media(max-width:700px){
  body{
  flex-direction: column;
  }
  .img{
    width: 300px;
  }
  .seat{
    height: 20px;
    width: 20px;
    margin: 3px;
  }
  h2{
    display: none;
    
  }
  .title1{
    font-size: 1.7em;
  }
  .image{
    text-align: center;
  }
  

}

.BOX {
	background-color: rgba(0, 0, 0, 0.7);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	display: none;
	justify-content: center;
	align-items: center;
}

.BOX-items {
 
	height: 27rem;
	width: 30rem;
	background-color: white;
  
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 4px;
}



input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 8px;
	border: 1px solid gray;
  border-radius: 5px;
  font-weight: bold;
}

.close {
	position: absolute;
	top: 0;
  
	right: 10px;
	font-size: 24px;
	color: #333;

	cursor: pointer;
  transform: rotate(45deg);
	
	
	
	
}

.white{
  color: white;
}


.LOgin{
  background: red;
  color: white;
  border: 1px solid #e50914;
  
  width: 8rem;
  height: 2.5rem;
  border-radius: 10px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  margin-top: 14px;
  
}

.button{
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
  background-color: rgb(108, 108, 204);
  color: white;
  font-size:1em;
  font-family: "Poppins", sans-serif;
  cursor: pointer;
}
h1{
  color: white;
  font-family:"Poppins", sans-serif ;
  font-weight: 2px;
  position: relative;
  margin-top: 0;
  font-size: 2.5em;
}
h1:hover{
 color: rgb(148, 148, 241);
}
h3{
  color:black;
}

.subdate{
  display: flex;
}

